.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    &_item{
        margin: 2rem 1rem;
        &:nth-child(2n){
            margin-top: 6rem;
        }
        img{
            width: 100%;
        }
        @media(max-width: 639px){
            width: 100%;
            &:nth-child(2n){
                margin-top: 0;
            }
        }
        &-descricao{
            color: #fff;
            font-size: 1.2rem;
            text-align: center;
            margin-top: 10px;
        }
    }
}
